/* NOW FOR ACCESSORIES CSS */

#topofaccessories {
	margin-top: 50px;
	margin-left: 30px;
	font-size: 18px;
	width: 600px;
}

#accessoriesbar {
	align-self: center;
	text-align: center;
	border: none;
	background-color: #4b391d;
	min-width: 100%;
	padding: 5px 0px;
	margin-bottom: 80px;
}

#mousedisplayrow1 {
	text-align: center;
	margin-bottom: 100px;
}

/* filtering */

.container {
	overflow: hidden;
}

.filterDiv {
	background-color: #000000;
	color: #ffffff;
	width: 100px;
	line-height: 100px;
	text-align: center;
	margin: 2px;
	display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
	display: grid;
	grid-auto-flow: column;
	margin-left: 280px;
	gap: 50px;
	margin-bottom: 150px;
}

/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
	background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
	background-color: #666;
	color: white;
}

/* product card */

.accessories {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

.product-card {
	width: 300px;
	height: 320px;
	margin-bottom: 150px;
	padding: 10px;
	border-radius: 20px;
}

.product-card a {
	display: flex;
	flex-direction: column;
	align-items: self-start;
}

.product-card a:link,
.product-card a:visited,
.product-card a:hover,
.product-card a:active,
.product-card a {
	text-decoration: none;
	color: white;
}

.product-image {
	width: 80%;
	max-height: 100%;
}

.product-image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 240px;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 10px;
}

.product-title {
	font-size: 20px;
}

.product-price {
	font-weight: bold;
}
