/* NOW FOR CART CSS */

#leftcolumn { margin-top: 50px;
    margin-left: 30px;
    width: 300px;
    float:left;
    }
    
    #rightcolumn { margin-top: 100px;
    margin-left: 800px;
    margin-bottom: 50px;
    }