/* NOW FOR Laptops CSS */
#laptopdisplayrow1 { text-align: center;
    margin-bottom: 100px;}
     
#topoflaptop {margin-top: 50px;
    margin-left: 30px;}

#laptopvalue{ text-align: center;}

#laptoppremium{ text-align: center;}