/* NOW FOR PCs CSS */

#topofpc {
	margin-top: 50px;
	margin-left: 30px;
	font-size: 18px;
	width: 600px;
}

.product-list-container {
	display: grid;
	grid-auto-flow: column;
	margin-left: 230px;
	gap: 10px;
}

.pcs {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

.product-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 320px;
}

.product-image {
	width: 80%;
}

.product-card {
	max-width: 400px;
	min-width: 360px;
	border-style: border-box;
	margin-bottom: 20px;
	padding-bottom: 2px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

.product-title {
	font-size: 20px;
	margin: 0;
	text-align: left;
}

.product-description {
	text-align: left;
	background-color: #1a1a1a;
	height: 50px;
}

.product-price {
	font-weight: bold;
	margin: 0;
	text-align: left;
	font-size: 20px;
}

.product-button {
	text-align: center;
	background-color: #11642d;
	border-radius: 10px;
	height: 75px;
	font-size: 25px;
}

.product-button a {
	color: white;
	text-decoration: none;
}

.product-button a:visited {
	color: white;
}
