/* NOW FOR PCs CSS */

#topofpc {
	margin-top: 50px;
	margin-left: 30px;
	font-size: 18px;
}

#pcvalue {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#pcpremium {
	text-align: center;
}

.product-list-container {
	display: grid;
	grid-auto-flow: column;
	margin-left: 230px;
	gap: 10px;
}

.product-card {
	width: 30%;
	border-style: border-box;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 2px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

.product-title {
	font-size: 20px;
	margin: 0;
	text-align: left;
}

.product-description { text-align: left	;
	background-color: #1A1A1A;
	height: 50px;
	
}

.product-price {
	font-weight: bold;
	margin: 0;
	text-align: left;
	font-size: 20px;
}

.product-button { text-align: center;
	background-color: #11642d;
	border-radius: 10px;
	height: 75px;
	font-size: 25px;

}
