#body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20%;
}

#body #productImage {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: start;
	width: 80%;
	max-width: 400px;
	top: 80px;
	position: -webkit-sticky;
	position: sticky;
}

#body #productImage img {
	width: 80%;
	min-width: 400px;
	max-width: 400px;
	min-height: 400px;
	max-height: 400px;
}

#body #productImage .imagesOptions {
	width: 80%;
	max-width: 100px;
	min-width: 100px;
	min-height: 100px;
	max-height: 100px;
}

#body #productDetails {
	width: 80%;
	max-width: 400px;
}

#body #productDetails p {
	width: 80%;
}

.photo-album ul {
	display: flex;
	flex-direction: row;
	padding: 0;
}

.photo-album li {
	list-style: none;
	float: left;
	padding: 7px;
	border: 1px solid black;
	border-radius: 3px;
}

input[type="radio"] {
	display: none;
	&:not(:disabled) ~ label {
		cursor: pointer;
	}
	&:disabled ~ label {
		color: hsla(150, 5%, 75%, 1);
		border-color: hsla(150, 5%, 75%, 1);
		box-shadow: none;
		cursor: not-allowed;
	}
}

#productDetails #product_customization_selection {
	display: flex;
	flex-direction: row;
	gap: 2%;
}

#productDetails #product_customization_selection label {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	position: relative;
}

#productDetails #product_customization_selection label p {
	width: auto;
	text-align: left;
	font-size: small;
}

#productDetails
	#product_customization_selection
	input[type="radio"]:checked
	+ label {
	border: 1px solid rgb(0, 234, 255);
}

#customize_summary {
	height: 150px;
	bottom: 0;
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #1a1a1a;
}

#customize_summary #productTitle {
	width: 25%;
	text-align: right;
}

#customize_summary #productTotal {
	width: 40%;
	text-align: right;
}

#customize_summary #addToCart {
	width: 30%;
	display: flex;
	justify-content: center;
}

#customize_summary #addToCart #addToCartButton {
	background-color: #8c0000;
	color: white;
	border: 1px solid #690000;
	height: 40px;
	width: 50%;
}

#customize_summary #addToCart #addToCartButton:active {
	background-color: #520000;
	color: grey;
	height: 40px;
	width: 50%;
}
