#body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#body table {
	width: 100%;
}

#body td:nth-child(1) {
	color: grey;
	padding-right: 60px;
}

#body tr td {
	padding-top: 20px;
}

#body form button {
	width: 160px;
	height: 40px;
	align-items: center;
}

#update_profile_button,
#cancel_profile_button {
	background-color: #8c0000;
	color: white;
}

#save_profile_button {
	background-color: #006c8e;
	color: white;
}
