body {
	background-color: black;
	color: white;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: column;
}

.promotion {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 3px;
	width: 100%;
	background-color: #cb9d59;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
}

.navbar #logo,
.navbar .right-nav {
	align-self: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	padding: 8px;
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	border-bottom: solid #ff4d00;
}

.right-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

.right-nav #profile-logo img,
.right-nav #cart img {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.right-nav #cart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

.navbar #logo {
	color: #ff4d00;
}

.header hr {
	width: 100%;
}

#body {
	flex: 1;
	width: 80%;
	margin: auto;
	min-width: 850px;
}

/* homepage */

#banner {
	text-align: center;
}

#underbanner {
	text-align: center;
	padding-top: 50px;
}

#rectangle1 {
	float: right;
	padding-top: 20px;
	font-size: 20px;
}

#textarea {
	float: left;
}

#textarea2 {
	float: right;
	font-size: 17px;
}

#rectangle2 {
	float: left;
}

#hr {
	text-align: center;
}

#bottom {
	text-align: center;
}

/* NOW FOR PCs CSS */

#topofpc {
	margin-top: 50px;
	margin-left: 30px;
}

#pcvalue {
	text-align: center;
}

#pcpremium {
	text-align: center;
}

/* NOW FOR LAPTOPs CSS */
#laptopdisplayrow1 {
	text-align: center;
	margin-bottom: 100px;
}

#topoflaptop {
	margin-top: 50px;
	margin-left: 30px;
}

#laptopvalue {
	text-align: center;
}

#laptoppremium {
	text-align: center;
}

/* NOW FOR ACCESSORIES CSS */

#topofaccessories {
	margin-top: 50px;
	margin-left: 30px;
}

#accessoriesbar {
	text-align: center;
	border: 1px solid red;
	height: 100px;
	background-color: #4b391d;
	margin-bottom: 50px;
}

#mousedisplayrow1 {
	text-align: center;
	margin-bottom: 100px;
}

#mousedisplayrow2 {
	text-align: center;
	margin-bottom: 100px;
}

/* NOW FOR CONTACT CSS */

#toprightofcontact {
	float: right;
	margin-right: 50px;
	margin-top: 70px;
	font-size: 30px;
}

#topofcontact {
	margin-top: 125px;
	margin-left: 30px;
}

#furtherquestions {
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 50px;
}

label {
	color: #da2424;
}

/* NOW FOR CART CSS */

#leftcolumn {
	margin-top: 50px;
	margin-left: 30px;
	width: 300px;
	float: left;
}

#rightcolumn {
	margin-top: 100px;
	margin-left: 800px;
	margin-bottom: 50px;
}

/* NOW FOR THANK YOU PAGE CSS */

#thankyou {
	text-align: center;
}

/* NOW FOR FOOTER CSS */

footer {
	background-color: black;
	display: block flex;
	flex-direction: column;
	gap: 20px;
	bottom: 0;
	width: 100%;
}

footer {
	background-color: black;
	display: block flex;
	flex-direction: column;
	gap: 20px;
	bottom: 0;
	width: 100%;
}

footer .footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 120px;
	align-self: center;
}

footer hr {
	border: 1px solid #ff4d00;
	width: 90%;
	margin-bottom: 20px;
}

footer .footer-content .email-subscription {
	color: #cb9d59;
}

footer .footer-content .email-subscription #es-information {
	font-size: x-small;
	margin-bottom: 10px;
}

footer .footer-content .email-subscription #input {
	border: 1px solid #cb9d59;
}

footer .footer-content .email-subscription #input form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

footer .footer-content .email-subscription #input #email-input {
	background-color: black;
	width: max-content;
	color: white;
	border: 0px;
	flex-grow: 4;
}

footer .footer-content .email-subscription #input #email-input:focus {
	outline: none !important;
}

footer .footer-content .email-subscription #input #email-button {
	background-color: black;
	color: #cb9d59;
	border: 0px;
}

footer #footer-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
	flex-grow: 2;
}

footer #footer-column ul {
	color: grey;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#copyright {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 3px;
	width: 100%;
	background-color: #cb9d59;
}

.sidepanel {
	display: flex;
	flex-direction: column;
	width: 0;
	position: fixed;
	z-index: 1;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 20px;
}

.sidepanel hr {
	width: 100%;
}

.sidepanel form {
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidepanel form input,
.sidepanel form textarea {
	background-color: black;
	padding-left: 8px;
	margin-top: 8px;
	width: 100%;
	color: white;
	border: 2px;
	border-color: white;
}

.sidepanel form input {
	height: 30px;
}

.sidepanel form textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 80px;
}

.sidepanel form button {
	padding-left: 8px;
	margin-top: 8px;
	width: 100%;
	height: 30px;
	color: white;
}

.sidepanel form #login-button {
	background-color: #8c0000;
}

.sidepanel form #signup-button {
	background-color: #006c8e;
}

.sidepanel #SPHeader {
	top: 0;
	display: flex;
	flex-direction: row;
}

.sidepanel #SPHeader h2 {
	padding: 0px 8px 8px 32px;
	position: inherit;
}

.sidepanel h3 {
	padding-left: 8px;
}

.sidepanel .closebtn {
	position: absolute;
	right: 25px;
	font-size: 36px;
}

.sidepanel .panelDiv {
	width: 80%;
	align-self: center;
}

.sidepanel .panelDiv .panelNav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.sidepanel .panelDiv .panelNav img {
	width: 20px;
}

.sidepanel .panelDiv .panelNav p {
	flex-grow: 3;
}

.sidepanel .panelDiv .panelLine {
	border: 0.5px solid grey;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

.closebtn:hover {
	color: #444;
}
